auto-save-list/
eshell/
history
places
recentf
transient/
devdocs
eln-cache/
*.elc
/.lsp-session-v1
/elpa/


config.el
assets
auto-save-list
eln-cache
elpa
.git
.gitignore
history
.lsp-session-v1
opam-user-setup.el
places
projects
recentf
tramp
transient